<h1>cloud @ sungsoos.kr</h1>

<ul>

<% folders.forEach(f => { %>

<li>
<a href="/f/<%= folder ? folder + "/" + f.name : f.name %>">
📁 <%= f.name %>
</a>
</li>

<% }) %>

<% files.forEach(file => { %>

<li>
<a href="/file/<%= file.id %>">
📄 <%= file.name %>
</a>
</li>

<% }) %>

</ul>