<!DOCTYPE html>
<html>
<head>
<title>ISO Library</title>

<link rel="stylesheet" href="/css/iso.css">

</head>

<body>

<h1>📀 ISO Images</h1>

<ul>

<% files.forEach(file => { %>

<li>

<a href="/file/<%= file.id %>">
<%= file.name %>
</a>

(<%= (file.size/1024/1024).toFixed(1) %> MB)

</li>

<% }) %>

</ul>

</body>
</html>